.cover-image {
    padding: 0;
    width: 35%;
    @include media-breakpoint-down(lg) {
        width: 100%;
        padding: 3em 1em;
    }
}

.cover-image > img {
    object-fit: cover;
    object-position: right center;
    max-width: 100%;
    height: 100vh;
    @include media-breakpoint-down(lg) {
        max-height: 300px;
        width: 100%;
    }
}

.names {
    color: $primary;
    margin-bottom: 2rem;
    text-align: center;
    font-family: $font-family-cursive;
    font-size: 5rem;
    @include media-breakpoint-down(lg) {
        font-size: 3rem
    }
}

.countdown-index {
    text-align: center;
    white-space: nowrap;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    color: $light;
    background: $primary;
    font-family: $font-family-mono;
    font-size: 4rem;
    @include media-breakpoint-down(lg) {
        font-size: 3rem;
    }
    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }

    > .countdown-item {
        position: relative;
        &::before {
            content: attr(data-cz);
            position: absolute;
            font-size: .8rem;
            font-family: $font-family-sans-serif;
            top: 0px;
            left: 50%;
            transform: translate(-50%, -30%);
            @include media-breakpoint-down(sm) {
                font-size: .6rem;
                transform: translate(-50%, -40%);
            }
        }
        &::after {
            content: attr(data-en);
            position: absolute;
            font-size: .8rem;
            font-family: $font-family-sans-serif;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 30%);
            @include media-breakpoint-down(sm) {
                font-size: .6rem;
                transform: translate(-50%, 40%);
            }
        }
    }
}
