.header {
  gap: 1rem;

  a {
    color: $light;
    text-decoration: none;
  }

  &-links {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: $light;

    a:hover {
      text-decoration: underline;
    }
  }

  &-names {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family-cursive;
    font-size: 2rem;

    a:hover {
      text-decoration: none;
    }
  }

  &-countdown {
    border-radius: 20px;
    background-color: $light;
    color: $primary;
    padding: .2rem .8rem;
    font-family: $font-family-mono;
  }
}

.page-content {
  position: relative;
  max-width: 800px;
  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 40%;
    height: 100px;
    background-image: url('/assets/img/flowers.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    filter: opacity(30%);
    transform: rotate(180deg);
    @include media-breakpoint-down(md) {
      width: 80%;
    }
  }
}

.form {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1000px;
}
